.Button {
  font-size: 1.1em;
  padding: 8px;
  background-color: #e5512f;
  color: white;
  border-radius: 8px;
}

.Button:hover {
  cursor: pointer;
  filter: brightness(92%);
}

.Button:active {
  filter: brightness(85%);
}