body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

.Google_image{
   height: 20px;
   width: 155px;
}

#formDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  
}

form{
  background-color: #B8E1E3;
  border-radius: 15px;
}

#genderAndStatsDiv{
  display: flex;
  justify-content: space-evenly;
}

#babyInfoDiv{
  margin-bottom: 6px;
  padding: 15px;
  border: 6px solid #E75128;
  border-radius: 15px;
}

#babyNameDiv{
  display: flex;
  justify-content: space-evenly;
}

#autoCompleteDiv{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* margin: 0px 6px; */
  padding: 15px;
  border: 6px solid #74CAD1;
  border-radius: 15px;
}

#autoCompleteDiv2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-top: 2px;
  padding: 4px 15px;
  border: 2px solid #74CAD1;
  border-radius: 15px;
}

.hospAddInputs{
 
  width: 200px;
}

#extrasDiv{
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

#subscribeDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12px;
}

#contactDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0px 6px; */
  padding: 15px;
  border: 6px solid #74CAD1;
  border-radius: 15px;
}

.hospitalInput{
  width: 500px;
}