body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #eee;
  text-decoration: underline;
}

p {
  margin:0;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}



.addressInput{
  align-items: center;
  border: 0.125rem solid #74CAD1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.125rem;
  padding: 0.5rem 1rem;
  width: 31.25rem;
}

.Google_image{
  height: 1.25rem;
  width: 10rem;
}

.hospAddInputs{
  width: 12.5rem;
}

.hospitalInput{
  width: 31.25rem;
}

.instructions {
  background-color: #00acb0;
  color: #ece7e7;
  padding: 0.25rem;
}

.instructions h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.message {
  padding: 0.625rem 0;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message p {
  margin-left: 0.625rem;
}

.navbar {
  background-color: #00acb0;
  border-radius: 0rem;
  width: 100%;
}



#autoCompleteDiv{
  align-items: center;
  border: 0.5rem solid #74CAD1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#autoCompleteDiv2{
  align-items: center;
  border: 0.125rem solid #74CAD1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.125rem;
  padding: 0.25rem 1rem;
  width: 31.25rem;
}

#babyInfoDiv{
  animation: fadeIn 1s;
  border: 0.5rem solid #E75128;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

#babyNameDiv{
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

#contactDiv{
  border: 0.5rem solid #74CAD1;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding: 1rem; 
}

#extrasDiv{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

#requestFormDiv{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3.125rem;
}

#genderDiv{
display: flex;
justify-content: space-evenly;
margin-bottom: 2rem;
margin-right: 0.75rem;
}

#genderAndBirthdateDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#genderAndStatsDiv{
  display: flex;
  justify-content: space-evenly;
}

#gestationAndWeightDiv{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#nominatorDiv{
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

#parentDiv{
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column; 
}

#requestForm{
  background-color: #B8E1E3;
  border-radius: 1rem;
}

#statsDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#subscribeAndSubmitDiv{
  display: flex;
  flex-direction: column
}

#subscribeDiv{
  display: flex;
  justify-content: space-evenly; 
  margin-left: 1rem;
}

#submitDiv{
  margin-left: 6rem;
  margin-top: 3rem;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}