body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  width: 100%
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #eee;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}



.addressInput{
  align-items: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.125rem;
  padding: 0.5rem 1rem;
  /* width: 31.25rem; */
}

.Google_image{
  height: 1.25rem;
  width: 10rem;
}

/* .hospAddInputs{
  width: 12.5rem;
}

.hospitalInput{
  width: 31.25rem;
} */

.instructions {
  background-color: #00acb0;
  color: #ece7e7;
  padding: 0.25rem;
}

.instructions h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.message {
  padding: 0.625rem 0;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.message:nth-child(odd) {
  background-color: #eeeeee;
}

.message p {
  margin-left: 0.625rem;
}

.navbar {
  background-color: #00acb0;
  border-radius: 0rem;
  width: 100%;
}

span.required {
  color: red;
}