.EmailFormModal {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.EmailFormModal > * {
  margin: 18px 0;
}

.EmailFormModal > button {
  margin: 0;
  align-self: flex-end;
}

.EmailFormModal span {
  font-weight: bold;
}