.modal-background {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}

.Modal p {
  margin: 4px;
}

.Modal button:focus {
  outline-color: #6dcad0;
}

.Modal .cancelBtn {
  background-color: #6dcad0;
  border-radius: 4px;
  float: right;
  position: relative;
}