.modal-background {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal {
  background-color: white;
  padding: 20px;
}

.Modal p {
  margin: 4px;
}

.cancel{
  position: relative;
  left: 357px;
  bottom: -45px;
}