.LoginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #71cbcf;
}

.LoginPage > .content {
  background-color: rgb(252,252,252);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border: 4px solid #e5512f;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginPage > .content > * {
  margin: 16px 0;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
}