<div style="color: #6cc9d0;text-align: center; margin-left: 10%; margin-right: 10%;margin-bottom: 15%; border-style: dotted; border-width: 5px;border-color#6bcad0; padding: 5px; font-size: 15px;">
    
    img(src="https://s19.postimg.cc/pl3wx5wtf/header.png" height="170px")

    p Hello,
    p #{note}

    p Thank you for <span style="color: #e95531;font-weight: bold">Spreading Hope, One Potato at a Time</span>.

    p Stay Connected with Us

    <a href="https://www.facebook.com/ThePotatoHeadProject/">
    img(src="https://s19.postimg.cc/u5q3cklsz/image.png" height="40px")
    </a>

    <a href="https://www.thepotatoheadproject.org">
    img(src="https://s19.postimg.cc/d5773x3mr/potato_Logo.png" height="40px")
    </a>

</div>