.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5512f;
  color: white;
}

.Header > * {
  margin: 12px 14px;
}

.Header h1 {
  font-size: 1.4em;
}