.Request {
  margin: 12px;
}

.request-header,
.request-details {
  display: flex;
  justify-content: space-around;
}

.request-header > *,
.request-details > * {
  flex: 1;
  display: flex;
  justify-content: center;
}

.request-details > div,
.request-details > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.request-header {
  background-color: #e5512f;
  color: white;
}

.request-details {
  background-color: #ddd;
  overflow: hidden;
  height: 0;
  transition: 800ms;
}

.RequestDetail {
  margin: 12px 4px;
}

.RequestDetail p {
  margin: 4px 0;
}

.RequestDetail > p:first-of-type {
  margin: 0;
  font-weight: bold;
}



.open {
  height: auto;
}