.Request {
  margin: 12px;
}

.request-header,
.request-details {
  display: flex;
  justify-content: space-around;
}

.request-header > *,
.request-details > * {
  flex: 1;
  display: flex;
  justify-content: center;
}

.request-header {
  background-color: #e5512f;
  color: white;
}

.request-details {
  background-color: #aaa;
  overflow: hidden;
  height: 0;
  transition: 800ms;
}


.RequestDetail > p:first-of-type {
  font-weight: bold;
}

.open {
  height: auto;
}