.Request {
  margin: 22px;
  border-radius: 10px;
  overflow: hidden;
}


.request-header,
.request-details > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.request-header > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-header > *,
.request-details > * {
  flex: 1;
  text-align: center;
}

.request-header:hover {
  cursor: pointer;
  filter: brightness(92%);
}

.request-details {
  display: flex;
}

.request-details > div {
  flex-direction: column;
  justify-content: flex-start;
}

.request-header {
  background-color: #71cbcf;
  color: white;
}

.request-sub-menu {
  background-color: #eee;
  overflow: hidden;
  animation: slide 600ms;
  transform-origin: top;
}

.RequestDetail {
  margin: 12px 4px;
  display: flex;
  flex-direction: column;
}

.RequestDetail p {
  margin: 4px 0;
}

.request-detail-header {
  margin: 0;
  font-weight: bold;
  font-size: .8em;
  color: #555;
}

.request-detail-data {
  color: #666
}

.open {
  height: auto;
}

.request-toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 18px;
}

.request-toolbar > * {
  margin: 0 8px;
}

@keyframes slide {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}