.AuthPage {
  background-color: rgb(252,252,252);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  border: 3px solid #e5512f;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AuthPage > * {
  margin: 16px 0;
}

.AuthPage .auth-form {
  display: flex;
  background-color: rgb(252,252,252);
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
}

.AuthPage input {
  background-color: #ec522b;
  color: white;
  border-radius: 10px;
}

.AuthPage input[type="submit"] {
  background-color: #6bcad0;
}

.loginText {
  color: #ec522b;
  font-size: 19px;
}

.resetText {
  color: #6bcad0;
  font-size: 19px;
  padding-top: 5px;
}

.AuthPage .Input button {
  border:none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #b8e3e2;
  color: white;
  border: 1px solid rgba(0,0,0,0.2);
}

.AuthPage input:focus {
  outline-color: #6dcad0;
}

.AuthPage .Input button:focus {
  outline-color: #6dcad0;
}

.AuthPage .forgotButton {
  color: #6dcad0;
  border-style: none;
  font-size: 17px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5px;
}

.AuthPage .forgotButton:focus {
  outline-style:none;
}

.AuthPage .alert {
  color: #ec522b;
}


