/* container */
#requestForm {
  width: 80%;
  margin: 0 auto;
  padding: 22px;
  max-width: 600px;
  background-color: #eee;
}

/* form container  */
#requestForm > form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
}

#autoCompleteDiv2{
  align-items: center;
  border: 0.125rem solid #74CAD1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 0.125rem;
  padding: 0.25rem 1rem;
/* width: 50%; */
}

#babyDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.baby-form,
#nominatorDiv,
#parentContactDiv {
  animation: fadeIn 1s;
  border: 0.125rem solid #e5512f;
  border-radius: 1rem;
}

/* all direct children of the form  */
#requestForm > form > * {
  margin: 16px 0;
}

/* sections inputs */
.baby-form > div,
#nominatorDiv > div,
#parentContactDiv > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* the wrapper for each input */
.baby-form > div > div,
#nominatorDiv > div > div,
#parentContactDiv > div > div {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 12px 0;
}

#requestForm .select-group {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

#requestForm .select-group > p {
  font-size: 1.1em;
}

#requestForm .select-group > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


#requestForm #notesDiv {
  display: flex;
  padding: 0 26px;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }

}