/* container */
#requestForm {
  width: 80%;
  margin: 0 auto;
  padding: 22px;
  max-width: 600px;
  background-color: #eee;
}

/* form container  */
#requestForm > form,
.baby-form {
  display: flex;
  flex-direction: column;
}

/* sections of each inputs */
.baby-form > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* the wrapper for each input */
.baby-form > div > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}